<h1>
  Showing a todo
</h1>
<p>
  name: <%= @todo.name %>
</p>
<p>
  Description: <%= @todo.description %>
</p>
<%= link_to "Edit this todo", edit_todo_path(@todo) %> |
<%= link_to "Back to the todo's list", todos_path %>
